/*

selector {
    property: value;
    another-property: value;
}

*/

h1 {
    color: red;
    border: 1px solid black;
    margin: 40px ;
    }
    
    h3{
        color: red;
    }

    .header__banner-subtext {
        color:azure;

    }

    .new-arrivals__subtext:hover {
font-weight: bold;
    }
    p::first-letter {
        font-size: 2rem;
    }
    